<h1>Event Search</h1>

{{input type="text" value=keywords}}
<button onclick={{action "searchForEvents"}}>Search</button>

Event Count: {{events.length}}

<ul>
  <li>
    {{#link-to "contact"}}
      Contact
      {{/link-to}}
  </li>
  <li>
    {{#link-to "about"}}
      About
    {{/link-to}}
  </li>
</ul>

{{#each events as |event|}}
  <div class='event'>
    <p>{{event.city_name}}, {{event.country_name}}</p>
  </div>
{{/each}}

{{outlet}}
